
h1{

  color: #c12258;
  font-size: 2em;
  line-height: 1.5em;

}

p{
  color: black;
  font-size: 18px;
  padding-top: 15px;
}

/* th{
  text-align: center;
  font-size: 2px;
} */
body {
		font-family: "Quicksand","sans-serif";
    background-image: url(../images/pidgeon-background.jpg);
    background-color: #dddddd;
	}

/* p.datacite{
  font-size: 18px;
  color: #c12258;
  text-decoration: underline;
} */

a{
  font-size: 18px;
  color: #c12258;
  text-decoration: underline;
}

thead{
  background-color: #7e0830;
  color: white;
  min-width: 150px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;


}
th{
  text-align: center;
  padding: 10px;
}

table{
  border-radius: 10px;
}
table{
  border: 2px solid black;

  border-collapse: collapse;
}



tr:nth-child(even){
  background-color: #dddddd;


}
th:hover{
  background-color: #fab9cf;

}

tbody{
  font-size: 2px
  padding: 15px;
  text-align: center;


}

th,td{
  border-top: 2px solid black;
}



footer{

  background-color: black;
  min-height: 60px;
}


footer p{
  color: white;
  text-align: center;
}
